@import url('setup.css');

.calendar-container{
    width: 100%;
    margin: 0 auto;
}

.time-subtitle{
    font: var(--fs-base);
    font-weight: bold;
    color: var(--gunmetal);
}

.month{
    text-align: center;
    margin: 0 auto;
    text-transform: capitalize;
    position: relative;
    color: var(--gunmetal);
}

.days, .time{
   display: grid;
   grid-template-rows: auto;
   grid-auto-flow: column;
   grid-auto-columns: 100px;
   gap: 16px;
   overflow-x: auto;
   overflow-y: hidden;
   padding: 16px;
   -ms-overflow-style: none;
   scrollbar-width: none;
  
}

.time{
   max-width: 800px;
  
}



.day-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
    padding: 8px;
    position: relative;
    cursor: pointer;
    margin-top: 32px;
}

.day-btn-container input[type='radio'], .time input[type="radio"]{
 position: absolute;
  opacity: 0;
  pointer-events: none; 
  height: 0;
}

.day-btn-container label, .time label{
    display: block; 
    position: relative;
}

.day-digit{
    color:var(--bright-snow);
    font-weight: 600;
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}

.day-btn-container label::before{
    content: '';
    cursor: pointer;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1/ 1;
    border: 0.5px solid var(--slate-grey);
    text-align: center;
    font-weight: bold;
    font-size: var(--fs-base);
    color: var(--bright-snow);
    background-color: var(--slate-grey);
    border-radius: 50%;
    width:50px;
    height: 50px;
    box-shadow: var(--btn-date-shadow);
    transition: transform 0.2s ease;
}

.day-btn-container:focus-within label::before, .time:focus .hour{
     outline: 0.5px solid var(--shadow-grey);
     outline-offset: 0.5px;

}

.day-btn-container input[type="radio"]:checked ~ label::before, .time input[type="radio"]:checked ~ .hour {
    background-color:var(--shadow-grey);
}

.day-btn-container input[type="radio"]:hover ~ label::before{
    transform: translate(-50%, -50%) scale3d(1.1, 1.1, 2);
}

.time label{
    cursor: pointer;
    font-weight: bold;
    line-height: 2.5;
    font-size: var(--fs-base);
    color: var(--bright-snow);
    width: fit-content;
    text-align: center;
    width: 80px;
    height: 44px;
     border: 0.5px solid var(--slate-grey);
    background-color: var(--slate-grey);
    border-radius: 8px;
    box-shadow: var(--btn-date-shadow);
    transition: transform 0.2s ease;
}
.hour:hover {
   transform: scale3d(1.1, 1.1, 2);
}

.date-container, .time-container{
    width: 100%;
    padding: 0 !important;
    
}
.day-text{
color:var(--slate-grey);
font-weight: bold;
text-align: center;

}

