:root{
    /* fonts */
    --base-font-size: 16px;

    /* font sizes */
    --fs-sm: 0.875rem; /* 14px / 16px = 0.875rem */
    --fs-base: 1rem;    /* 16px / 16px = 1rem */
    --fs-md: 1.125rem;  /* 18px / 16px = 1.125rem */
    --fs-lg: 1.25rem;   /* 20px / 16px = 1.25rem */
    --fs-xl: 1.5rem;    /* 24px / 16px = 1.5rem */
    --fs-2xl: 1.875rem; /* 30px / 16px = 1.875rem */
    --fs-3xl: 2.5rem;   /* 40px / 16px = 2.5rem */
    --fs-4xl: 3.125rem; /* 50px / 16px = 3.125rem */

    /* font family */
    --header-font: 'Roboto', sans-serif;
    --body-font: 'Open Sans', sans-serif;
  

    /* colors */
    --bright-snow:#F8F9FA ;
    --platinum: #E9ECEF;
    --alabaster-grey: #DEE2E6;
    --pale-slate: #CED4DA;
    --slate-grey: #6C757D;
    --gunmetal: #343A40;
    --shadow-grey: #212529;

    /* spacing */

    --space-xxs: 0.125em; /* 2px / 16px = 0.125em */

    /* 4pt rule (half of base 8pt) */
    --space-xs: 0.25em;  /* 4px / 16px = 0.25em */

    /* 8pt rule increments */
    --space-sm: 0.5em;   /* 8px / 16px = 0.5em */
    --space-md: 1em;     /* 16px / 16px = 1em */
    --space-lg: 1.5em;   /* 24px / 16px = 1.5em */
    --space-xl: 2em;     /* 32px / 16px = 2em */
    --space-2xl: 3em;    /* 48px / 16px = 3em */
    --space-3xl: 4em;    /* 64px / 16px = 4em */

    /* shadows */

    /* sm shadow */

    --btn-shadow-sm-color: rgba(0, 0, 0, 0.25);
    --btn-shadow-sm-offset-x: 2px;
    --btn-shadow-sm-offset-y: 2px;
    --btn-shadow-sm-blur: 4px;
    --btn-shadow-spread: 0;

    /* md shadow */

    --btn-shadow-md-color: rgba(233, 236, 239, 0.35);
    --btn-shadow-md-offset-x: 5px;
    --btn-shadow-md-offset-y: 4px;
    --btn-shadow-md-blur: 6px;


    /* button boxshadow */

    --shadow-sm: var(--btn-shadow-sm-offset-x), var( --btn-shadow-sm-offset-y), var(--btn-shadow-sm-blur), var(--btn-shadow-spread), var(--btn-shadow-sm-color);

    --shadow-md: var(--btn-shadow-md-offset-x), var( --btn-shadow-sm-offset-y), var(--btn-shadow-sm-blur), var(--btn-shadow-spread), var(--btn-shadow-md-color);

    /* date shadow */

    --date-shadow: var(--btn-shadow-sm-offset-x), var( --btn-shadow-sm-offset-y), var(--btn-shadow-md-blur), var(--btn-shadow-spread), var(--btn-shadow-sm-color) ;

    --date-shadow-2: var(--btn-shadow-sm-offset-x), var( --btn-shadow-sm-offset-y), var(--btn-shadow-md-blur), var(--btn-shadow-spread), var(--btn-shadow-md-color) ;


}

*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: var(--base-font-size);
}

body{
    font-family: var(--body-font);
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
}

h1{
    font-size: var(--fs-4xl);
    font-weight: bold;
    color: var(--bright-snow);
}


h2{
    font-size: var(--fs-3xl);
    font-weight: 500;
    color: var(--bright-snow);
}

h3{
    font-size: var(--fs-2xl);
    font-weight: 500;
}
/* flex box  */
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-coloumn{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-nowrap{
    flex-wrap: nowrap;
}

.justify-start {
     justify-content: flex-start;
 }
.justify-end { 
    justify-content: flex-end; 
}
.justify-between {
     justify-content: space-between;
 }
.justify-around {
     justify-content: space-around;
 }
.justify-evenly {
     justify-content: space-evenly;
 }

.align-start {
     align-items: flex-start;
}
.align-end { 
    align-items: flex-end;
 }
.align-baseline {
     align-items: baseline;
}
.align-stretch {
     align-items: stretch;
}

/* grid */
.grid{
    display: grid;
}