@import url('setup.css');

.glass-effect{
     background: radial-gradient(circle at center,rgba(0, 0, 0, 0.082) 200px, rgba(255, 255, 255, 0.137) ) padding-box;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.1);
      box-shadow: 0 4px 30px rgba(219, 219, 219, 0.1); 
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

header{
    height: var(--space-3xl);
}

.logo{
      width: var(--space-xl); /* Controls size */
  height: auto;
 
  transition: filter 0.3s ease;
}

.logo:hover{
    filter: invert(100%);
     
}

.bg-color-overlay{
    background-color: var(--gunmetal);
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}

.bg-image{
    position: relative;
    width: 70%;
    height:100%;
}

.bg-image::before {
  content: "";
  background-image: url('../images/bg-hero-section.png');
  background-size: cover; 
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  z-index: 1; 
}



 


