@import url('setup.css');

.glass-effect{
    background: radial-gradient(circle at center,rgba(0, 0, 0, 0.082) 200px, rgba(255, 255, 255, 0.137) ) padding-box;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(219, 219, 219, 0.1); 
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}

header{
    height: var(--space-3xl);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    width: var(--space-xl); /* Controls size */
    height: auto;
    transition: filter 0.3s ease;
}

.logo:hover{
    filter: invert(100%);
     
}

.bg-color-overlay{
    background-color: var(--gunmetal);
    height: 100dvh;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}

.bg-image{
    position: relative;
    width: 70%;
    height: 100%;
}

.bg-image::before {
  content: "";
  background-image: url('../images/bg-hero-section.png');
  background-size: cover; 
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  z-index: 1; 
}


/* hero section */
.hero-section {
    padding: var(--space-md) var(--space-sm);
    height: 100dvh;  
}
.hero__content{
    width: 50%;
    padding: var(--space-md);
    gap: 16px;
}

.hero__para{
    max-width: 50ch;
    min-width: 29ch;
    color: var(--bright-snow);
}

/* button */
.btn{

background: rgba(255, 255, 255, 0);
border-radius: 16px;
backdrop-filter: blur(13.3px);
-webkit-backdrop-filter: blur(13.3px);
border: 1px solid rgba(197, 197, 197, 0.503);
padding: var(--space-sm) var(--space-md) var(--space-sm) var(--space-sm);
height: var(--space-3xl);
font-size: var(--base-font-size);
font-weight: 600;
box-shadow: var(--btn-shadow), var(--btn-shadow-md);
cursor: pointer;
border-radius: var(--space-sm);
transition: background-color transform 50ms ease-in;
}

.hero__btn{
    width: calc(var(--space-3xl) * 2);
    color: var(--bright-snow);
    position: relative;
}
 
.hero__btn .btn-icon{
    position: absolute;
    top: 18px;
    left: 78px;
}

.hero__btn:hover{
    background-color: var(--alabaster-grey);
    transform: scale(1.01);
    color: var(--gunmetal);
}
.btn:active{
    background-color: var(--pale-slate);
    outline: 1.5px solid var(--gunmetal);
    color: var(--gunmetal);
}


@media (max-width:780px) {

.hero__content{
    width: 100%;
    text-align: center;
    align-items: center !important;
}
.hero__para{
    text-align: center;
    
}

.btn{
    transform: scale(0.8);
} 
.btn:hover{

    transform: scale(0.81);
}
    
}

/* form */


.form{
    padding: var(--space-md);
    margin: var(--space-xl) auto; 
    background: rgba(233, 233, 233, 0.07);
    border-radius: var(--space-md);
    box-shadow: inset 1px 1px 30px #343a4009;
    backdrop-filter: blur(18.6px);
    -webkit-backdrop-filter: blur(18.6px);
    border: 1.5px solid #343A40;
width: 90%;}

.form__title{
     color: var(--gunmetal);
     text-transform: capitalize;
}
.form-content{
    display: grid;
    grid-template-columns:minmax(70vw, auto);
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    padding: var(--space-xl);
    justify-content: start;
    align-content: center;
    color: var(--gunmetal);
    
}

.form-content div{
    width: 100%;
    padding: var(--space-xl) var(--space-md);
    font-family: var(--body-font);
    font-size: var(--fs-base);
    
}
.label, .subtitle{
    font-weight: 600;
    margin-bottom: var(--space-md) ;
    width: 100%;
    display: block;
}

.label::after, .subtitle::after{
    content: '*';
    color: var(--error-red);
    font-size: var(--fs-sm);
    padding: var(--space-xs);
}

.info-select, .info-input, .message-info{
    width: 100%;
    padding:var(--space-sm) var(--space-md);
    font-size: var(--fs-sm);
    border-radius: var(--space-sm);
    color: var(--shadow-grey);
    height: 48px;
    border: 1px solid var(--slate-grey);
     line-height: normal;
    box-sizing: border-box;
}

.info-input::placeholder{
    font-size: var(--fs-base);
    color: var(--pale-slate);
}

 .message-info{
    height: 100px; 
  box-sizing: border-box;
  resize: none;
}

.info-input:focus-within, .message-info:focus-within,
.dropdown-selected:active {
    outline: 1px solid var(--shadow-grey);
    box-shadow: 1px 1px 7px 2px rgba(143, 142, 142, 0.25);
}
.phone-wrap {
  width: 100%;
   gap: 2px;
   padding: 0 !important;

}
.phone-info{
   flex-basis: 0;
   flex-grow: 1;
   min-width: 0;
}

.country-code{
    text-align:center;
    border: 1px solid var(--shadow-grey);
    color: var(--gunmetal);
    border-radius: var(--space-sm);
    width: 100px;
    font-weight: 600;
    line-height: 2.6;
    font-size: var(--fs-sm);
    padding: var(--space-xs);
    flex-shrink: 0;
    flex-grow: 0;

}
/* checkbox style */

.checkbox-input{
    appearance: none;
}
.checkbox-wrapp{
   display: flex;
    gap: 20px;
    width: 100%;
    padding-block: var(--space-md) !important;
    position: relative;
    
}
.checkbox-wrapp label{   
    font-size:var(--fs-base);
    text-align: left;
    color: var(--shadow-grey);
    width: fit-content;
    cursor: pointer;
    display: block;
}

.checkbox-wrapp .checkbox-input + label:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    aspect-ratio: 1 / 1;
    border-radius: 2px;
    border: 1px solid var(--shadow-grey);
    position: absolute;
    left: 0;
    top: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkbox-wrapp .checkbox-input:checked + label:before {
    background-color: var(--gunmetal);
    border-color: var(--gunmetal);
}

.checkbox-wrapp .checkbox-input:checked + label:after {
    content: '\2713'; /* Unicode checkmark character */
    position: absolute;
    background-color: transparent;
    transform: translate(50%, 50%) rotate(8deg);
    left: 0px;
    top: 6px;
    font-size: var(--fs-sm);
    font-weight: bold;
    color: var(--platinum);
}

/* select style */

.info-select{
 display: none;
}

#select-container{
    width: 100%;
    padding:var(--space-md) 0 0;
}
.custom-dropdown {
    padding: 0 !important;
    position: relative;
}

.dropdown-selected {
  cursor: pointer;
  padding: var(--space-xs) var(--space-md) !important;
  margin: 0 !important;
  width: 100%;
  border: 1px solid var(--slate-grey);
  color: var(--slate-grey);
  border-radius: var(--space-sm);
  font-size: var(--fs-sm);
  color: var(--pale-slate);
  height: 48px;
  line-height: 2.5;
  position: relative;
}

.dropdown-selected::after{
    content: '';
    background: url('../images/select-icon.svg') no-repeat center center / cover;
    position: absolute;
    top: 17px;
    right: 15px;
    width: 16px;
    height: 16px; 
}


.dropdown-list {
  position: absolute;
  z-index: 99;
  background-color: var(--bright-snow);
  color: var(--shadow-grey);
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 200px;
}

.dropdown-list li {
  padding: var(--space-sm);
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: var(--gunmetal);
  color: var(--bright-snow); 
}

.hidden {
  display: none;
}

.submit-btn{
    height: var(--space-2xl);
    min-width: calc(100% - 32px);
    justify-self: center;
    color: var(--gunmetal);
    transform: scale(1);
}
.submit-btn:hover{
    color: var(--bright-snow);
    background-color: var(--shadow-grey);
    transform: scale(1.01);
}
/* footer */
footer p{
    text-align: center;
    padding: var(--space-3xl);
    color: var(--gunmetal);
}
footer p a{
    text-decoration: none;
    color: inherit;
    font-weight:600;
}