@import url('setup.css');

.glass-effect{
     background: radial-gradient(circle at center,rgba(0, 0, 0, 0.082) 200px, rgba(255, 255, 255, 0.137) ) padding-box;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.1);
      box-shadow: 0 4px 30px rgba(219, 219, 219, 0.1); 
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

header{
    height: var(--space-3xl);
}

.logo{
    width: var(--space-xl); /* Controls size */
    height: auto;
    transition: filter 0.3s ease;
}

.logo:hover{
    filter: invert(100%);
     
}

.bg-color-overlay{
    background-color: var(--gunmetal);
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}

.bg-image{
    position: relative;
    width: 70%;
    height:100%;
}

.bg-image::before {
  content: "";
  background-image: url('../images/bg-hero-section.png');
  background-size: cover; 
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  z-index: 1; 
}


/* hero section */
.hero-section {
    padding: var(--space-xl) var(--space-md);
    margin-top: var(--space-xl);
    height: auto;   
}
.hero__content{
    width: 50%;
    padding: var(--space-md);
    gap: 32px;

}

.hero__para{
    max-width: 50ch;
    min-width: 29ch;
    color: var(--bright-snow);
}

/* button */

.hero__btn{
    padding: var(--space-sm) var(--space-md) var(--space-sm) var(--space-sm);
    width: calc(var(--space-3xl) * 2);
    height: var(--space-3xl);
    font-size: var(--base-font-size);
    font-weight: 600;
    background-color: var(--platinum);
    border-radius: var(--space-sm);
    border: 1px solid var(--gunmetal);
    color: var(--gunmetal);
    position: relative;
    box-shadow: var(--btn-shadow), var(--btn-shadow-md);
    cursor: pointer;
    transition: background-color transform 50ms ease-in;
}
 
.hero__btn .btn-icon{
    position: absolute;
    top: 18px;
    left: 78px;
}

.hero__btn:hover{
    background-color: var(--alabaster-grey);
    transform: scale(1.01);
}
.hero__btn:active{
    background-color: var(--pale-slate);
    outline: 1.5px solid var(--gunmetal);
}


@media (max-width:780px) {

.hero__content{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.hero__para{
    text-align: center;
    
}

.hero__btn{
    transform: scale(0.8);
} 
.hero__btn:hover{
    background-color: var(--alabaster-grey);
    transform: scale(0.81);
}
    
}

/* form */
.form-section{
    width: 100%;
   overflow: hidden;
    margin-top: var(--space-3xl);
    padding: var(--space-3xl);
    border: 1px solid red;
    max-width: 500px;
    min-width: 100%;
    justify-items: center;
    align-content: center;
}
.form{
    margin-top: var(--space-3xl);
    display: grid;
    grid-template-rows: repeat(4, 100px) auto auto repeat(2, 1fr);
}

